.calendar{
  font-family: Roboto;
  overflow-y: overlay !important;
  overflow-x: hidden;
  width: 100%;
}
.main-content{
  flex: 1 !important;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.header{
  font-family: 'Roboto Slab', sans-serif !important;
  padding-left: 12px !important;
  padding-right: 20px !important;
  max-width: 100vw;
}
.App{
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}
.rbc-event-label{
  visibility: collapse;
  height: 0;
  width: 0 !important;
}
.rbc-time-header > .rbc-row:first-child {
    border-bottom: 0 solid #DDD !important;
}
.rbc-header{
  border-bottom: 1px solid #DDD !important;
}
.rbc-header-gutter{
  color: #a7a7a7;
}
.rbc-time-view .rbc-time-gutter{
  color: #a7a7a7;
  border-right: 1px solid #DDD;
}
.rbc-event{
  border-radius: 0 !important;
  padding: 0 !important;
}
.rbc-current-time-indicator{
  background: orange !important;
}
.rbc-current-time-indicator::before{
  background: orange !important;
}
.fill{
  height: 100%;
  width: 100%;
}
.marker{
  float: left;
  width: 3px;
  height: 100%;
  margin: -5px 0 0 0;
  background: lightblue;
}
.rbc-time-header{
  background: #f7f7f7 !important;
}
.homework-badge{
  padding: 0 16px 0 0 !important;
}
.rbc-timeslot-group{
  height: 60px;
}
.homework-img{
  width: 24px;
  height: 24px;
}
.event-title{
  margin: 5px;
  display: block;
}
.event-popup{
  padding: 14px;
  max-width: 400px;
}
.event-popup-title{
  font-size: 22px;
  margin: 4px;
  font-family: 'Roboto Slab';
}
.event-popup-desc{
  font-size: 16;
  margin: 4px;
}
.event-popup-timerange{
  font-size: 14px;
  margin: 4px;
  color: #1565C0;
}
.event-popup-actions{
  display: flex;
  flex-direction: row;
}
.event-popup-action{
  flex: 1 1 auto;
}
.vertical-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn{
}
.link-btn{
  color: white !important;
}
.action-btn{
  color: white !important;
}
.login-bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #03A9F4;
  flex-direction: column;
}
.login-panel{
  margin: auto;
  display: block;
  border-radius: 15px;
}
.login-form{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.login-form > * {
  margin: 10px;
}
input:-webkit-autofill {
  
}

.no-highlight{
  /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
    font-size: 15px;
    padding: 10px 15px;
    margin: 20px;
}
.login-app-bar{
  background: white !important;
  color: #03A9F4 !important;
}
.fill-height{
  flex: 1 1 auto;
}

.login-app-bar *{
  color: #03A9F4 !important;
  fill: #03A9F4 !important;
}

.nomatch-bg{
  background: #D50000;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nomatch-box{
  margin: auto;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: 'Roboto Slab', sans-serif !important;
}

.nomatch-redirect-btn *{
  color: #D50000 !important;
}

.alert-snackbar{
  background: #D50000 !important;
}

.alert-snackbar > *{
  background: #D50000 !important;
}

.horizontal-layout{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  text-align: center;
}

.alert{
  fill: white !important;
  margin: 6px;
}

.flex-fill{
  flex: 1;
}