.calendar{
    font-family: Roboto;
    overflow-y: overlay !important;
    overflow-x: hidden;
    width: 100%;
    background: white;
}
.main-content{
    flex: 1 !important;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background: #f1f1f1;
}
.header{
    font-family: 'Roboto Slab', sans-serif !important;
    padding-left: 12px !important;
    padding-right: 20px !important;
    max-width: 100vw;
}
.App{
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}
.rbc-event-label{
    visibility: collapse;
    height: 0;
    width: 0 !important;
}
.rbc-time-header > .rbc-row:first-child {
    border-bottom: 0 solid #DDD !important;
}
.rbc-header{
    border-bottom: 1px solid #DDD !important;
}
.rbc-header-gutter{
    color: #a7a7a7;
}
.rbc-time-view .rbc-time-gutter{
    color: #a7a7a7;
    border-right: 1px solid #DDD;
}
.rbc-event{
    border-radius: 0 !important;
    padding: 0 !important;
}
.rbc-current-time-indicator{
    background: orange !important;
}
.rbc-current-time-indicator::before{
    background: orange !important;
}
.fill{
    height: 100%;
    width: 100%;
}
.marker{
    float: left;
    width: 3px;
    height: 100%;
    margin: -5px 0 0 0;
    background: lightblue;
}
.rbc-time-header{
    background: #f7f7f7 !important;
}
.homework-badge{
    padding: 0 16px 0 0 !important;
}
.rbc-timeslot-group{
    height: 60px;
}
.homework-img{
    width: 24px;
    height: 24px;
}
.event-title{
    margin: 5px;
    display: block;
}
.event-popup{
    padding: 14px;
    max-width: 400px;
}
.event-popup-title{
    font-size: 22px;
    margin: 4px;
    font-family: 'Roboto Slab';
}
.event-popup-desc{
    font-size: 16;
    margin: 4px;
}
.event-popup-timerange{
    font-size: 14px;
    margin: 4px;
    color: #1565C0;
}
.event-popup-actions{
    display: flex;
    flex-direction: row;
}
.event-popup-action{
    flex: 1 1 auto;
}
.vertical-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn{
}
.link-btn{
    color: white !important;
}
.action-btn{
    color: white !important;
}
.login-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #03A9F4;
    flex-direction: column;
}
.login-panel{
    margin: auto;
    display: block;
    border-radius: 15px;
}
.login-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.login-form > * {
    margin: 10px;
}
input:-webkit-autofill {

}

.no-highlight{
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
            inset 0 0 5px rgba(0,0,0,0.1),
            inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
    font-size: 15px;
    padding: 10px 15px;
    margin: 20px;
}
.login-app-bar{
    background: white !important;
    color: #03A9F4 !important;
}
.fill-height{
    flex: 1 1 auto;
}

.login-app-bar *{
    color: #03A9F4 !important;
    fill: #03A9F4 !important;
}

.nomatch-bg{
    background: #D50000;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nomatch-box{
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: 'Roboto Slab', sans-serif !important;
}

.nomatch-redirect-btn *{
    color: #D50000 !important;
}

.alert-snackbar{
    background: #D50000 !important;
}

.alert-snackbar > *{
    background: #D50000 !important;
}

.horizontal-layout{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    text-align: center;
}

.alert{
    fill: white !important;
    margin: 6px;
}

.flex-fill{
    flex: 1;
}

.list-module{
    margin: 10px;
    padding: 20px 10px 5px 10px;
    display: flex;
    flex-direction: row;
}

.list-module-space{
    flex: 1;
}

.list-module-code{
    font-family: 'Roboto Slab', sans-serif;
    display: inline;
}

.list-module-name{
    font-family: 'Roboto Slab', sans-serif;
    display: inline;
}

.list-module-desc{
}

.list-module-btn{
    align-self: center;
}

.list-modules {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

.list-homeworks {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

.list-homework{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-homework-space{
    flex: 1;
}

.list-homework-box1{
    display: flex;
    flex-direction: column;
}

.list-homework-module{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

.list-homework-box2{
    display: flex;
    flex-direction: row;
}

.list-homework-box-bottom{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.list-homework-name{
    font-family: 'Roboto Slab', sans-serif;
    font-size:24px;
    display: inline;
}

.list-homework-desc{
    font-size:12px;
    display: inline;
}

.list-homework-earliest-deadline{
    font-family: 'Roboto Slab', sans-serif;
    font-size:16px;
    display: inline;
    font-weight:bold;
}

.module-fab{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.searchfieldset{
    margin: 10px;
    width: calc(100% - 20px) !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.searchfield{
    width: calc(100% - 10px) !important;
    display: flex;
    flex-direction: row;
}

.datefields{
    display: flex;
    flex-direction: row;
}

.search{
    flex: 1;
}

.search-button{
    margin: 0;
}

.dates{
    flex: 1;
    width: calc(50% - 10px) !important;
}

.list-homework-status{
    display: flex;
    flex-direction: row;
    color: white;
    background: #FF5722;
    align-self: stretch;
    margin: 0 20px 0 0;
    padding: 5px;
}

.list-homework-status > *{
    align-self: center;
    flex:1;
    font-size:18px;
}